.header {
  align-items: center;
  background-color: #273142;
  border-bottom: 1px solid #c8c8a9;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  position: fixed;
  width: 100%;
}

.header__title {
  color: #c8c8a9;
  font-family: "Times New Roman", Times, serif;
}

.header__input {
  width: 30vw;
  border: none;
  border-left: 1px solid #ccc;
  box-shadow: 0 0 0 0;
  outline: 0;
  font-size: 12pt;
  padding: 10px;
  margin-left: -6px;
}

.header__search {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.header__button {
  background-color: transparent;
  border: none;
  padding: 10px;
}

.header__btn__search {
  border-radius: 2px;
  background-color: white;
}

.header__button:hover {
  cursor: pointer;
}

.header__button__img {
  width: 25px;
}

.header__margin {
  margin: 10px 0px;
}

@media (max-width: 700px) {
  .header {
    display: flex;
    justify-content: space-evenly;
  }

  .header__title {
    display: none;
  }

  .header__button--disappeared {
    display: none;
  }

  @media (max-width: 340px) {
    .header__input,
    .header__button {
      padding: 5px;
    }
  }
}
